p{
    text-align: left;
}

img{
    width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

li:before{
    content: "> ";
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #4AF626;
}

.pageContainer{
    width: 50%;
    margin: 16px auto;
}
@media only screen and (max-width: 800px) {
    .visual-screenshot-image{
        width: 90vw;
        margin-left: 5vw;
    }
    .skills-list{
        width: 90vw;
        margin: auto;
    }
    header{
        text-align: center;
    }
}