<app-header></app-header>

<header>
    <h1>{{project.name}}</h1>
    <a *ngIf="project.link" href="{{project.link}}"><i class="fas fa-link"></i></a>
    <a *ngIf="project.githubLink" href="{{project.githubLink}}"><i class="fab fa-github"></i></a>
</header>

<p>{{project.desc}}</p>

<img class="visual-screenshot-image" src="{{project.visualScreenshots[0]}}">

<ul class="skills-list">
    <li class="skill-breadcrumb" *ngFor="let skill of project.skills">{{skill}}</li>
</ul>
<!-- <img class="code-screenshot-image" src="{{project.codeScreenshots[0]}}"> -->
