p{
    text-align: left;
}

img{
    width: 100%;
    height: auto;
    border: solid 1px #4AF626;
}

ul{
    list-style: none;
}

a{
    margin: none;
}

li:before{
    content: "> ";
}

.pageContainer{
    width: 50%;
    margin: 16px auto;
}

.imgControls {
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        border: none;
        background: none;
        color: #4AF626;
        font-size: 24pt;
        cursor: pointer;
    }
}

.selector{
    width: 16px;
    height: 16px;
    border-radius:16px;
    margin: 0 8px;
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    .visual-screenshot-image{
        width: 90vw;
        margin-left: 5vw;
    }
    .skills-list{
        width: 90vw;
        margin: auto;
    }
    header{
        text-align: center;
    }
}