.export{
    color: #BB5A91;
}

.quote{
    color: #6A9955;
}

.string{
    // color: #4AF626;
    color: #6A9955;
    display: inline-block;

}

.stringContainer{
    display: flex;
}

.functionYellow{
    color: #d7ba7d;
}

.function{
    color: lightsteelblue;
}

.member{
    color: gray;
}

.indent1{
    margin-left: 24px;
}

.indent2{
    margin-left: 48px;
}

.indent3{
    margin-left: 72px;
}

p,h1{
    color: white;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

section{
    border: solid 1px black;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 8px;
    margin: 16px 0;
}

.number{
    display:inline-block;
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    margin-right: 8px;
    color: gray;
    text-align: right;
}