<section>
        <div class="numbers">
                <p *ngFor="let number of getArrayOfLines(); let i = index">{{i + 1}}</p>
        </div>
        <div [id]="setID">
                <h1><span class="export">export</span><span class="function"> function</span><span
                                class="functionYellow">
                                {{experienceTitle}}</span>(<span class="member">date</span> = "<span
                                class="string">{{date | customDate}}</span>") {{'{'}}</h1>
                <p *ngFor="let item of text; let i = index"><span class="function indent1">console</span>.<span
                                class="functionYellow">log</span>(<span class="quote">"</span><br>
                        <span class="stringContainer"><span class="string indent3">{{item}}</span></span>
                        <span class="indent2 quote">"</span>);</p>
                <p><span>{{'}'}}</span></p>
        </div>
</section>