<section>
    <div class="numbers">
        <p *ngFor="let number of getArrayOfLines(); let i = index">{{i + 1}}</p>
    </div>
    <div [id]="setID">
        <p>
            <span class="export">export </span><span class="modifier">class </span> <span
                class="className">{{company}}</span>{{' {'}}
        </p>
        <p class="indent1">
            <span class="modifier">public </span> <span class="memberName">title
            </span> = <span class="string">'{{title}}'</span>;
        </p>
        <p class="indent1">
            <span class="modifier">public </span> <span class="memberName">date
            </span> = <span class="string">'{{startDate | customDate}} to
                {{endDateProvided ? (endDate  | customDate) : 'Current'}}'</span>; <span
                class="comment">//{{getLengthOfTime()}} Months</span>
        </p>
        <br>
        <p class="indent1">
            <span class="modifier">public </span> <span class="memberName">duties </span> = [<br>
            <span *ngFor="let duty of duties; let i = index">
                <span class="string indent2">'{{duty}}'<span class="comma">,</span></span><br>
            </span>
            <span>];</span>
        </p>
        <br>
        <p class="indent1">
            <span class="modifier">public </span> <span class="memberName">techStack </span> = {{'{'}}<br>
            <span class="memberName indent2">frontend:</span><span class="string"> '{{techStack.Frontend}}'</span>,<br>
            <span class="memberName indent2">backend:</span><span class="string"> '{{techStack.Backend}}'</span>,<br>
            <span class="memberName indent2">webServices:</span><span class="string">
                '{{techStack.Hosting}}'</span>,<br>
            <span class="memberName indent2">database:</span><span class="string"> '{{techStack.Database}}'</span>,<br>
            <span>{{'}'}};</span><br>
        </p>
        <p>
            {{'}'}}
        </p>
    </div>

</section>