p,h1{
    color: white;
    text-align: left;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}

section{
    border: solid 1px black;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 8px;
    margin: 16px 0;
}

.number{
    display:inline-block;
    width: 24px;
    min-width: 24px;
    max-width: 24px;
    margin-right: 8px;
    color: gray;
    text-align: right;
}

.indent1{
    margin-left: 24px;
}

.indent2{
    margin-left: 24px;
    border-left: solid 1px gray;
    padding-left: 16px;
}

.duty{
    display: inline-block;
}

.dutyContainer{
    display: flex;
    padding: 0;
}

span{
    padding: 2px 0;
}

.comment{
    color: #6A9955
}

.comma{
    color:white
}

.export{
    color: #BB5A91;
}


.className{
    color: #4EC9B0;
}

.modifier{
    color: #569cd6;
}

.string{
    // color: #4AF626;
    color: #6A9955;
}

.memberName{
    color: lightsteelblue;
}