<header>
    <div class="navbar">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/projects">Projects</a>
        <a class="navbar-item" href="/about">About Me</a>
    </div>
    <nav class="social-navbar">
        <a href="mailto:brooklynpedley@gmail.com" title="Send Me An Email"><i class="fas fa-envelope"></i></a>
        <a href="/assets/brooklyn-pedley-cv.docx" download title="Download My CV"><i class="fas fa-download"></i></a>
        <a href="https://www.github.com/brooklynP" target="_blank" title="View My Github"><i class="fab fa-github"></i></a>
    </nav>
</header>