<app-header></app-header>
<div class="row">
    <div class="left">
        <h1>Brooklyn Pedley</h1>
        <h2>Trainee Developer</h2>
        <p>I am a trainee developer with experience in front-end developement, producing bespoke web apps for a wide
            array of clients with a focus on Angular</p>
        <ul class="socials">
            <label>Download CV</label>
            <li><a href="/assets/brooklyn-pedley-cv.docx" download title="Download My CV"><i
                        class="fas fa-download"></i></a></li>
            <label>Github</label>
            <li><a href="https://www.github.com/brooklynP" target="_blank" title="View My Github"><i
                        class="fab fa-github"></i></a></li>
            <label>Twitter</label>
            <li><a href="https://twitter.com/BrooklynPedley" target="_blank" title="View My Twitter"><i
                        class="fab fa-twitter"></i></a></li>
            <label>LinkedIn</label>
            <li><a href="https://www.linkedin.com/in/brooklynpedley/" target="_blank" title="View My LinkedIn"><i
                        class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="right">
        <img src="../../../assets/portrait.jpg">
    </div>
</div>
<hr>
<div class="techStack">
    <h3>My Tech Stack</h3>
    <div class="body">
        <div>
            <h4>Angular, Ionic, Electron</h4>
            <p>I have worked with angular to produce front-end web apps, as well as pairing this with ionic to create
                PWAs and electron to create desktop apps</p>
        </div>
        <div>
            <h4>Node JS, Express</h4>
            <p>I have worked with Node JS and Express to produce back-end REST APIs</p>
        </div>
        <div>
            <h4>Github, BitBucket</h4>
            <p>I use github for personal projects, and bitbucket for work projects</p>
        </div>
        <div>
            <h4>AWS</h4>
            <p>I have worked with S3 and cloudfront for online hosting, cognito for authentication, aswell as claudia's
                api builder to build APIs on lambda and api gateway</p>
        </div>
        <div>
            <h4>MongoDB</h4>
            <p>I have worked with MongoDB to create databases</p>
        </div>
        <div>
            <h4>Windows, MAC OS</h4>
            <p>I have work with a windows enviroment for personal projects aswell as a mac enviroment for work projects
            </p>
        </div>
    </div>
</div>
<hr>
<div class="workExperience">
    <h3>Work Experience</h3>
    <h4>Attend2IT > May 2019 - Current</h4>
    <div class="job">
        <div>
            <h5>Duties</h5>
            <p>
                I am currently working at Attend2IT as a trainee developer. I undertake producing solo projects,
                such as the client portal and silent auction app seen on the projects page. I also collaberate with the
                team,
                to produce and maintain our larger apps such as the clinic management and admin app, multiclinic.
                Although focusing on angular apps, I have also had a wide array of experience in other areas of
                development,
                such as producing wordpress sites, mobile apps with ionic, desktop apps with electron, pure javascript
                sites, and more.
                I help to produce bespoke web apps for a wide array of clients, mainly from the events industry.
                I also get involved as a technician when I am needed, meaning I have experience working with networking
                aswell as setting up phone networks, CCTV systems, and other IT based work.
            </p>
        </div>
        <div>
            <h5>The Tech Stack</h5>
            <ul>
                <li> Front-end: Angular
                </li>
                <li> Back-end: Node.JS
                </li>
                <li> Source Control: BitBucket
                </li>
                <li> Hosting: AWS
                </li>
                <li> Database: Couchbase
                </li>
                <li> Authentication: Keycloak
                </li>
                <li> Mobile And Desktop Apps: Ionic, Electron
                </li>
            </ul>
        </div>
    </div>
    <h4>Work Experience at the Hertfordshire Police HQ May > 2015</h4>
    <p>
        I had the opportunity to attend a couple of weeks work experience at the Hertfordshire Police
        HQ. Here I shadowed their IT team as well as the in house developers.
        I learnt alot about repairing IT equipment as well as seeing hands on how software developers
        worked in the industry.
    </p>
</div>
<hr>
<div class="otherExperience">
    <h3>Other Experience</h3>
    <h4>Certifaction in UX/UI > Feb. 2020 </h4>
    <p>I have attained a BSC accredited certifaction in foundaition user experience following a training
        course on the subject</p>
    <h4>Gold medal at the World Skills Show Nov. 2016</h4>
    <p>
        I joined the engineering class at sixth form to act as their programmer for the robotics
        competition at the world skills show in the NEC.<br>
        I was the sole programmer in my team which had to undertake a 48hr competition with teams from
        other schools and even universities.<br><br>
        We had to create an autonomous robot capable of detecting RFID coloured tags on objects
        scattered around an arena and then move them to
        corresponding nets.<br> I had to quickly learn how to use C while my engineers developed a robot
        to spec. Then within the 2 days I developed
        an AI that could patrol the arena and scan objects it came across.<br> I take great pride in the
        fact I was able to win the gold medal in this competition!
    </p>
</div>
<hr>
<div class="education">
    <h3>Education</h3>
    <h4>Games Programming at the university of Gloucestershire > 2017-2019</h4>
    <div class="university">
        <div>
            <h5>Details</h5>
            <p>I undertook a Bachelor level course in producing video games using game engines such as unity.
                I produced many 2D and 3D games such as working with a team of designers in order to create a 3D racing
                game. I also created desktop apps such as a sprite editing app.
            </p>
        </div>
        <div>
            <h5>Skills</h5>
            <ul>
                <li>- C# and C++</li>
                <li>- Unity</li>
                <li>- WPF .NET Apps</li>
            </ul>
        </div>
    </div>
    <h4>The John Warner School > 2010 to 2017</h4>
    <div class="gradeLists">
        <div>
            <p>
                GCSEs:
            </p>
            <ul>
                <li>
                    - 12 A*-C including...
                </li>
                <li>
                    - A* maths
                </li>
                <li>
                    - A Computing
                </li>
                <li>
                    - B English
                </li>
            </ul>
        </div>
        <div>
            <p>A levels</p>
            <ul>
                <li>
                    - C Maths
                </li>
                <li>
                    - C Computing
                </li>
                <li>
                    - C Financial Studies
                </li>
                <li>
                    - E Phyiscs
                </li>
            </ul>
        </div>
        <p>
            UKMT Math's Challenge: Bronze
        </p>
    </div>
</div>