@import '../../../global.scss';

figure{
	margin:0;
}

hr{
	width: 100%;
}

.container{
	max-width: 900px;
	margin: 0 auto;
}

.downloadCV{
	border: solid 2px $accent;
  	color: $textPrimary;
	padding: 8px;
	text-decoration: none;
	margin-right: 8px;
	i{
		margin-left: 4px;
		color: inherit;
	}
	i.small{
		margin-left: 0;
	}
}

.links{
	display: flex;
}

.downloadCV:hover{
	background-color: $textPrimary;
	color: $backgroundColour;
}

.row{
	display: flex;
	padding: 10px;
	.left{

		h1{
			margin-top: 0;
		}
	}
}
.techStackBody{
	display: flex;
	flex-flow: wrap;
	padding: 10px;
	justify-content: space-between;
}
.techStackBody div{
	max-width: 414px;
	padding: 16px 8px 8px;
	margin-bottom: 32px;
}
.techStack .row{
	justify-content: space-between;
}


img{
	margin-left: 8px;
	height: 200px;
	min-width: 200px;
	width: auto;
	border: solid 2px $accent;
	border-radius: 3px;
}

.techStack{
	.body{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-evenly;
    	padding: 16px 8px 8px;
    	margin: 16px 10px;

		div{
			width: 100%;
			h4, p{
				text-align: left;
			}
		}
	}
	footer{
		display: flex;
		justify-content: center;
	}
	img{
		max-height: 32px;
		border: none;
	}

}

.educationTile{
	padding: 16px;
	margin: 16px 10px;

	h4{
    margin: 0 0 16px;
  }
	p{
		margin-bottom: 0;
	}
}

ul{
	display:flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	align-items: center;
	li {
		margin-right: 5px;
		margin-left: 5px;
	}
}


.university{
	display: flex;
	justify-content: center;
	div{
		width: 400px;
	}
}

.gradeLists{
	display: flex;
}

ul.cmdStyleList{
	display: block;
	margin-left: 16px;
	border-left: solid 1.5px $textSecondary;
	padding-top: 12px;

	li{
		margin: 8px 0;
	}

	li:before{
		width: 10px;
		height: 1px;
		background-color: $textSecondary;
	}
}

h5{
	margin: 0;
}

section p{
	text-align: left;
}

nav.pageNav{
	display: flex;
	justify-content: center;
	a{
		text-decoration: none;
		margin-right: 0;
	}
	span{
		color: $textPrimary;
		margin: 0 8px;
	}
	p{
		margin: 0;
		text-align: center;
	}
}
.listContainer{
	width: auto !important;
}

footer{
	display: flex;
	justify-content: center;
	margin: 16px;
}

@media screen and (max-width: 1140px) {
	.row{
		flex-direction: column-reverse;
	}
	.left, .right{
		width: 100% !important;
	}
	nav{
		margin: 0 8px;
	}

}
@media screen and (max-width: 820px) {
	.hr{
		width: 95vw;
	}
}
