<app-header></app-header>
<div class="row">
    <div class="left">
        <h1>Brooklyn Pedley</h1>
        <h2>Trainee Developer</h2>
        <p>I am a trainee developer with producing bespoke web apps for a wide array of clients with a focus on front
            end Angular.</p>
        <ul class="socials">
            <label>Download CV</label>
            <li><a href="/assets/brooklyn-pedley-cv.docx" download title="Download My CV"><i
                        class="fas fa-download"></i></a></li>
            <label>Github</label>
            <li><a href="https://www.github.com/brooklynP" target="_blank" title="View My Github"><i
                        class="fab fa-github"></i></a></li>
            <label>Twitter</label>
            <li><a href="https://twitter.com/BrooklynPedley" target="_blank" title="View My Twitter"><i
                        class="fab fa-twitter"></i></a></li>
            <label>LinkedIn</label>
            <li><a href="https://www.linkedin.com/in/brooklynpedley/" target="_blank" title="View My LinkedIn"><i
                        class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="right">
        <img src="../../../assets/portrait.jpg">
    </div>
</div>
<hr>
<div class="techStack">
    <h3>My Tech Stack</h3>
    <div class="body">
        <div>
            <h4>Angular, Ionic, Electron</h4>
            <p>I have worked with angular to produce front-end web apps, as well as pairing this with ionic to create
                PWAs and electron to create desktop apps</p>
        </div>
        <div>
            <h4>Node JS, Express</h4>
            <p>I have worked with Node JS and Express to produce back-end REST APIs</p>
        </div>
        <div>
            <h4>Github, BitBucket</h4>
            <p>I use github for personal projects, and bitbucket for work projects</p>
        </div>
        <div>
            <h4>AWS</h4>
            <p>I have worked with S3 and cloudfront for online hosting, cognito for authentication, aswell as claudia's
                api builder to build APIs on lambda and api gateway</p>
        </div>
        <div>
            <h4>MongoDB</h4>
            <p>I have worked with MongoDB to create databases</p>
        </div>
        <div>
            <h4>Windows, MAC OS</h4>
            <p>I have work with a windows enviroment for personal projects aswell as a mac enviroment for work projects
            </p>
        </div>
    </div>
</div>
<hr>
<div class="workExperience">
    <h3>Work Experience</h3>
    <h4>Attend2IT</h4>
    <p>I am currently working at Attend2IT as a trainee developer and have been since may 2019.
        I help to produce bespoke web apps for a wide array of clients, mainly from the events industry.
        This includes producing Angular Apps, Wordpress websites, Electron apps, ionic mobile apps and more.
        Our apps are usually hosted using AWS and we use keycloak for our authentication. We work with couchbase
        databases.
        Sometimes I also get involved on the technician side, meaning I have experience working with networking aswell
        as physically setting up cables, CCTV, phone systems and more.</p>

    <h4>Work Experience at the Hertfordshire Police HQ</h4>
    <p>
        I had the opportunity to attend a couple of weeks work experience at the Hertfordshire Police
        HQ. Here I shadowed their IT team as well as the in house developers.
        I learnt alot about repairing IT equipment as well as seeing hands on how software developers
        worked in the industry.
    </p>
</div>
<hr>
<div class="otherExperience">
    <h3>Other Experience</h3>
    <h4>Certifaction in UX/UI</h4>
    <p>In Feburary 2020 I attained a BSC accredited certifaction in foundaition user experience following a training
        course on the subject</p>
    <h4>Gold medal at the World Skills Show</h4>
    <p>
        In November 2016. I joined the engineering class at sixth form to act as their programmer for the robotics
        competition at the world skills show in the NEC.<br>
        I was the sole programmer in my team which had to undertake a 48hr competition with teams from
        other schools and even universities.<br><br>
        We had to create an autonomous robot capable of detecting RFID coloured tags on objects
        scattered around an arena and then move them to
        corresponding nets.<br> I had to quickly learn how to use C while my engineers developed a robot
        to spec. Then within the 2 days I developed
        an AI that could patrol the arena and scan objects it came across.<br> I take great pride in the
        fact I was able to win the gold medal in this competition!
    </p>
</div>
<hr>
<div class="education">
    <h3>Education</h3>
    <h4>Games Programming at the university of Gloucestershire 2017-2019</h4>
    <p>
        I studied games programming, learning how to use Unity and c# as well as C++ in order to develop
        video
        games.
        In the first year I achived a 1:1 and learnt alot about software development.<br> Some projects
        I am
        particularly
        proud of such as my sprite editor can be found on the projects page. Unfortunately, I did not
        complete
        my
        full
        course
        due to some external factors. However, I am grateful for what I have been able to learn in the
        time I attended.
    </p>
    <h4>The John Warner School 2010-2017</h4>
    <p>
        GCSEs: 12 A*-C including A* maths, A Computing B English<br>
        A Levels: C Maths, C Computing, C Financial Studies, E Phyiscs<br>
        UKMT Math's Challenge: Bronze
    </p>
</div>