.downloadCV{
	border: solid 2px #4AF626;
	padding: 8px;
	text-decoration: none;
	color: #4AF626;
	margin-right: 8px;
	i{
		margin-left: 4px;
		color: inherit;
	}
}
.downloadCV:hover{
	background-color: #4AF626;
	color: black;
}

p{
	text-align: left;
}

.row{
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	padding: 10px;
	.left{
		width: 60%;


	}

	.right{
		width:40%;
	}
}

img{
	height: auto;
	width: 100%;
	border: solid 2px #4AF626;
	border-radius: 3px;
}

.techStack{
	padding: 10px;
	h3, h4{
		color: #4AF626;
	}
	.body{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;

		border: solid 1px black;
		box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
		border-radius: 4px;
		padding: 8px;
		margin: 16px 0;

		div{
			width: 240px;
			h4, p{
				text-align: left;
			}
		}
	}
}

.educationTile{
	border: solid 1px black;
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	border-radius: 4px;
	padding: 8px;
	margin: 16px 0;

	h4{
		margin: 0;
		margin-bottom: 16px;
	}
	p{
		margin-bottom: 0;
	}
}

ul{
	display:flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	align-items: center;
	li {
		margin-right: 5px;
		margin-left: 5px;
	}
	label{
		color: #4AF626;
	}

	i{
		font-size: 32pt;
	}

	label:hover a{
		color: #4AF626;
	}
}


.university{
	display: flex;
	justify-content: center;
	div{
		width: 400px;
	}
}

.gradeLists{
	display: flex;
}

ul.cmdStyleList{
	display: block;
	margin-left: 16px;
	border-left: solid 1.5px white;
	padding-top: 12px;

	li{
		margin: 8px 0;
	}

	li:before{
		width: 10px;
		height: 1px;
		background-color: white;
	}
}

h5{
	margin: 0;
}

section{
	max-width: 800px;
	margin: 0 auto;
	p{
		text-align: left;
	}
}

nav{
	display: flex;
	justify-content: center;
	a{
		text-decoration: none;
		margin-right: 0;
	}
	span{
		color: #4AF626;
		margin: 0 8px;
	}
}
.listContainer{
	width: auto !important;
}

footer{
	display: flex;
	justify-content: center;
	margin: 16px;
}