<app-header></app-header>

<div class="container">
    <h1>About Me</h1>
    <p>
        When i'm not working on project's I can be found reading. I am currently reading 
        <a href="https://www.goodreads.com/book/show/19494.The_Spy_Who_Came_In_from_the_Cold">"The spy who came in from the cold"</a>, 
        Playing video games such as CSGO or League of Legends, or travelling the world with my girlfriend,
        <a href="https://scratchmymap.com/m/brooklyn.pedley.1571586183338?t=1571854940261">check out where we've been!</a>
        <!-- I first learnt about software developement in GCSE Computing, Where I started working with Python.
        This continued in my A-levels where I continued to learn about Python, moving onto more object oriented code,
        and making my first big project; A program for a local school that let teachers and students see what rooms
        were free to use and book them. In the summer of my second year I learnt C so that I could join the robotics
        club to perform at the world skills show, winning gold. I was also lucky enough to gain some work experience
        at the Hertfordshire Police HQ where I shadowed the IT and developer team for a week, I got to learn about
        software
        development in a proffesional enviroment. And it was from here I knew for definite I wanted to pursue a
        career in software development. I didn't know how to fulfill this goal, I spent 2 years at university and
        although
        I learnt alot, it wasn't the road I wanted to go down. So I now work at attend2IT where I started as a junior
        technician,
        but after showing my passion for software, have been able to move into the developement department. I am
        currently looking
        for the next step in my career where I can learn more and work full as a software developer. -->
    </p>
    <!-- <app-contact-form></app-contact-form> -->
</div>




<div class="container">
    <h1>My Career at a glance</h1>
    <div id="timeline">
        <div class="timeline-item">
            <div class="timeline-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <div class="timeline-content">
                <h1>May 2019-Present Attend2IT</h1>
                <p>
                    I am currenttly working in a split role at Attend2IT.<br>
                    I spend half of my time as a junior event IT technician, and the other half working as a developer.
                    <br><br>
                    Some of the work I undertake includes setting up IT services at events, such as CCTV systems, Wifi
                    and networks, Phone networks, EPOS systems and more. <br>
                    When an event is fully set up, I check on clients ensuring they know how to use and are happy with
                    the Wifi services and the software.<br><br>
                    On the developer side, I develop web apps using angular, create wordpress websites, maintain the
                    ticket
                    scanner's software, and more. <br> Our developer enviroment uses both mac and windows to develop,
                    aswell
                    as using
                    bitbucket for version control. And we make use of AWS to assist with our web apps.
                </p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon">
                <i class="fas fa-graduation-cap"></i>
            </div>
            <div class="timeline-content right">
                <h1>Games Programming at the university of gloucstershire 2017-2019</h1>
                <p>
                    I studied games programming, learning how to use Unity and c# as well as C++ in order to develop video
                    games.
                    In the first year I achived a 1:1 and learnt alot about software development.<br> Some projects I am
                    particularly
                    proud of such as my sprite editor can be found on the projects page. Unfortunately, I did not
                    complete
                    my
                    full
                    course
                    due to some external factors. However, I am grateful for what I have been able to learn in the time I attended.
                </p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon">
                <i class="fas fa-medal"></i>
            </div>
            <div class="timeline-content">
                <h1>Won Gold at the World Skills Show for Robotics - November 2016</h1>
                <p>
                    I joined the engineering class at sixth form to act as their programmer for  the robotics competition at the world skills show in the NEC.<br>
                    I was the sole programmer in my team which had to undertake a 48hr competition with teams from other schools and even universities.<br><br>
                    We had  to create an autonomous robot capable of detecting RFID coloured tags on objects scattered around an arena and then move them to
                    corresponding nets.<br> I had to quickly learn how to use C while my engineers developed a robot to spec. Then within the 2 days I developed
                    an AI that could patrol the arena and scan objects it came across.<br> I take great pride in the fact I was able to win the gold medal in this competition!
                </p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <div class="timeline-content right">
                <h1>Work Experience at the Hertfordshire Police HQ May 2015</h1>
                <p>
                    I had the opportunity to attend a couple of weeks work experience at the Hertfordshire Police HQ.<br>
                    Here I shadowed their IT team as well as the in house developers.<br>
                    I learnt alot about repairing IT equipment as well as seeing hands on how software developers worked in the industry.
                </p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon">
                <i class="fas fa-graduation-cap"></i>
            </div>
            <div class="timeline-content">
                <h1>The John Warner School 2010-2017</h1>
                <p>
                    GCSEs: 12 A*-C including A* maths, A Computing B English<br>
                    A Levels: C Maths, C Computing, C Financial Studies, E Phyiscs<br>
                    UKMT Math's Challenge: Bronze
                </p>
            </div>
        </div>
    </div>
</div>