h1,h2,h3,h4,h5,h6{
	color: #4AF626;
}

p{
	text-align: left;
}

.row{
	display: flex;
	padding: 10px;
	.left{
		width: 60%;


	}

	.right{
		width:40%;
		padding: 0 50px;
	}
}

img{
	height: auto;
	width: 100%;
	border: solid 2px #4AF626;
	border-radius: 3px;
}

.techStack{
	padding: 10px;
	h3, h4{
		color: #4AF626;
	}
	.body{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		div{
			margin-right: 16px;
			width: 240px;
			h4, p{
				text-align: left;
			}
		}
	}
}

.workExperience, .otherExperience, .education{
	padding: 10px;
}

ul{
	display:flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	// justify-content: center;
	align-items: center;
	li {
		margin-right: 5px;
		margin-left: 5px;
	}
	label{
		color: #4AF626;
	}

	i{
		font-size: 32pt;
	}

	label:hover a{
		color: #4AF626;
	}
}

.education{
	.university{
		display: flex;
		div{
			width: 50%;
		}
	}
}

.workExperience{
	.job{
		display: flex;

		div{
			width: 50%;
		}

	}
}

.gradeLists{
	display: flex;
	justify-content: center;
}

ul.cmdStyleList{
	display: block;
	// padding-left: 16px;
	margin-left: 16px;
	border-left: solid 1.5px white;
	padding-top: 12px;

	li{
		margin: 8px 0;
	}

	li:before{
		width: 10px;
		height: 1px;
		background-color: white;
	}
}

h5{
	margin: 0;
}

section{
	width: 800px;
	margin: 0 auto;
	p{
		text-align: center;
	}
}