section{
    height: 100vh;
    width: 100vw;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    width: 90vw;
    max-width: 1000px;
}

button{
    // width: 100%;
    padding: 0;
    background: none;
    color:#4AF626;
    border: none;
    text-align: left;
    font-size: 1.5em;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console","sans serif";
    font-weight: 700;

    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;

    cursor: pointer;
}
        
button:hover{
    background-color: #0B0B0D;
}

h1,h2,button{
    padding: 8px;
}
            
@media only screen and (max-width: 800px) {

}