<section>
    <div>
        <div class="text">
            <h1>{{messageToDisplayLine1}}</h1>
            <h2>{{messageToDisplayLine2}}</h2>
            <h2>{{messageToDisplayLine3}}</h2>
            <h2>{{messageToDisplayLine4}}</h2>
            <h2>{{messageToDisplayLine5}}</h2>
            <h2>{{messageToDisplayLine6}}</h2>
            <h2>{{messageToDisplayLine7}}</h2>
            <h2>{{messageToDisplayLine8}}</h2>
            <h2>{{messageToDisplayLine9}}</h2>
            <h2>{{messageToDisplayLine10}}</h2>
            <h2>{{messageToDisplayLine11}}</h2>
            <h2>{{messageToDisplayLine12}}</h2>

        </div>
        <button (click)="clickViewProjects()">
            {{messageToDisplayLine13}}
        </button>
    </div>
</section>