.landing-page-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #1E1E1E ;
    
    .center-row{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;

        .message{
            display:flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            width: 50vw;
            color: #4AF626;

            button{
                padding: 8px;
                background-color: #25252B;
                color: white;
                border-color: black;
    
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;

                cursor: pointer;
            }
            button:hover{
                background-color: #0B0B0D;
            }

            h3{
                margin:0;
            }
        }
    }
            
    @media only screen and (max-width: 800px) {
        .center-row{
            flex-direction: column;
        }

        .message{
            width: 80vw !important;
            margin: auto;
        }
    }
}