<app-header></app-header>
<header>
    <h1 class="center">CV</h1>
    <div class="center">
        <a class="downloadCV" href="/assets/brooklyn-pedley-cv-stylised.docx" download title="Download My CV">Download
            Stylised
            CV<i class="fas fa-download"></i></a>
        <a class="downloadCV" href="/assets/brooklyn-pedley-cv.docx" download title="Download My CV">Download Standard
            CV<i class="fas fa-download"></i></a>
    </div>
    <footer class="center">
        <button *ngIf="SelectedPage===1" (click)="goToPage(2)">Next Page</button>
        <button *ngIf="SelectedPage===2" (click)="goToPage(1)">Previous Page</button>
    </footer>
</header>

<div class="container" *ngIf="SelectedPage===1">
    <section class="center">
        <h1>Brooklyn Pedley</h1>
        <p>8 Sandpiper Court, John Dyde Close, Bishop’s Stortford, CM23 3BN, UK<br>
            brooklynpedley@gmail.com T: 07860224836
        </p>
        <h2>www.brooklynpedley.co.uk</h2>
        <p>
            I am a full stack web developer with a wealth of skills across multiple technologies. 
            With almost 4  years of industry experience I know how to take ownership of projects across their full life cycle.
            From  requirements analysis to developing the entire stack of an app,
            all the way to ensuring it is properly hosted and supported. 
            I am now looking for my next big step.
        </p>
    </section>
    <section>
        <h2>
            Employment
        </h2>
        <section>
            <h3>
                Full Stack JavaScript Specialist at AlphaFirst June 2021-Current
            </h3>
            <h3>
                Junior Developer at AlphaFirst September 2020-June 2021
            </h3>
            <p>
                Creating bespoke applications for local businesses
            </p>
            <ul>
                <li>
                    Performing business and requirement analysis with clients to design apps that perfectly suit their needs.
                </li>
                <li>
                    Creating responsive front-ends using React with a focus on usability on both mobile and desktop platforms.
                </li>
                <li>
                    Creating databases in Microsoft SQL Server. Writing procedures and functions in T-SQL, 
                    designing efficient views and tables by making use of indexing tools. Managing user security and SQL server agent jobs.
                </li>
                <li>
                    Creating APIs using Express.JS and Loopback 3 and 4. Allowing SSO authentication on these APIs through the use of Passport.JS.
                </li>
                <li>
                    Creating full stack web apps using VB.NET. Using Infragistics to handle tables with millions of rows.
                </li>
                <li>
                    Integrating with many top third party APIs such as Microsoft Graph, Xero, Plaid and more. Deep understand of the Oauth flow and how to implement it correctly.
                </li>
                <li>
                    Writing utility scripts with PowerShell to run data feeds on servers.
                </li>
                <li>
                    Managing relationships with clients to support them in their use of apps, and discuss future improvements.
                </li>
                <li>
                    Using Microsoft Azure to manage active directory and app registrations.
                </li>
                <li>
                    Managing private web hosting using IIS and Certify The Web on VPSs.
                </li>
                <li>
                    Creating WordPress and Shopify sites.
                </li>
            </ul>
        </section>
        <section>
            <h3>
                Trainee Front-end Developer at attend2IT May 2019-September 2020.
            </h3>
            <p>
                Creating bespoke applications for the events industry
            </p>
            <ul>
                <li>
                    Creating front-ends with Angular.
                </li>
                <li>
                    Creating mobile apps using Ionic.
                </li>
                <li>
                    Creating desktop apps using Electron.
                </li>
                <li>
                    Managing web hosting using AWS.
                </li>
                <li>
                    Creating WordPress websites.
                </li>
                <li>
                    Designing front-ends with Adobe XD.
                </li>
                <li>
                    Supporting clients on-site and on the phone.
                </li>
                <li>
                    Working as a networking technician when needed.
                </li>
            </ul>
        </section>
    </section>
</div>
<div class="container" *ngIf="SelectedPage===2">
    <section>
        <h2>
            Side Projects
        </h2>
        <p>
            I love working on side projects in my free time to further hone my skills.
        </p>
        <section>
            <h3>
                $BAT Discord Bot
            </h3>
            <p>
                A chat bot using Discord's API and Node.JS which displays information and up to date price feeds 
                as well as replies to commands with messages on a Discord Server with 15,000+ users.
            </p>
        </section>
        <section>
            <h3>
                Alien Worlds timer Extension
            </h3>
            <p>
                A chrome extension that interacts with a WAX Blockchain RPC node to get chain information about a user's last transaction in the dApp Alien Worlds. 
                This timer let users know when they last played the game, and therefore when they can play again, as well as some stats. 
                This extension was used by 2000+ users with an average of 4.3* on the Chrome Web Store
            </p>
        </section>
        <section>
            <h3>
                Gold Medal Winner in robotics at the NEC world skills show - November 2016
            </h3>
            <p>
                Programmer chosen by my school team to undertake a 48hr competition 
                in which I had to create an autonomous robot capable of detecting RFID tags on objects scattered around a ring 
                and then moving them to their correct pit. 
                I quickly learnt the programming language C and proved I could build a working program within strict time constraints. 
                I take great pride in winning the gold medal in this competition and beating university teams as a sixth form student.
            </p>
        </section>
    </section>
    <section>
        <h2>
            Education
        </h2>
        <section>
            <h3>
                Certification in Business Analysis Fundamentals, Jan 3, 2022
            </h3>
            <p>
                Completed a Udemy course on the subject.
            </p>
        </section>
        <section>
            <h3>
                Certification in foundation user experience, Feb 2020
            </h3>
            <p>
                Accredited BSC certification in UI and UX following a training course.
            </p>
        </section>
        <section>
            <h3>
                BSc Computer Games Programming, University of Gloucestershire, Cheltenham, Sept 2017-April 2019
            </h3>
            <p>
                I completed 1 year of this course with an average grade of 70%. 
                This degree teaches in-depth use of game engines such as Unity and Unreal 4 with C# as-well as producing games using C++ and OpenGl, 
                and desktop applications such as image loaders and editors using .NET.
            </p>
        </section>
        <section>
            <h3>
                The John Warner School, Hertfordshire, Sept 2010-2016
            </h3>
            <p>
                A Levels: Computing(C), Maths(C), Financial Studies(C), Physics(E)<br>
                12 GCSEs A*-C including Maths(A*), Computing(A), Physics(A)
            </p>
        </section>
        <section>
            <h3>
                A level Computing Coursework, 2016
            </h3>
            <p>
                Developed a room booking system for a new school that used python3, 
                an SQLite database and a UI developed using Tkinter. 
                The app allowed teachers and students to see what rooms were being used and book rooms accordingly over a server-client based database.
            </p>
        </section>
        <section>
            <h3>
                Bronze Senior Mathematical Challenge - UK mathematics trust - November 2016
            </h3>
        </section>
    </section>
</div>
<footer class="center">
    <button *ngIf="SelectedPage===1" (click)="goToPage(2)">Next Page</button>
    <button *ngIf="SelectedPage===2" (click)="goToPage(1)">Previous Page</button>
</footer>