.project-cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;

    width: 90vw;
    margin: 0 auto;
}

.project-card{
    width: 300px;
    height: 150px;

    cursor: pointer;

    padding: 0;
    margin: 32px;

    background-color: #25252B;

    border-color: black;
    border-style: solid;
    border-width: 1px;

    background-size: cover;

    transition: 0.3s;
}

.filter-by-skills{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    width: 40vw;
    margin: 0 auto;
}

.filter-by-skills button{
    background-color: #25252B;
    color: white;
    border: none;

    margin: 8px 16px;

    cursor: pointer;
}

.filter-by-skills button:hover{
    color: #4AF626;
}

.filter-by-skills button:disabled{
    color: black;
    background-color: #4AF626;
    cursor: default;
}

.project-card-title{
    display: none;
    margin: 0;
}

.project-card:hover .project-card-title{
    display: inline;
    transition: 0.3s;
}

.project-card:hover{
    background-image: none !important;
    transition: 0.3s;
    transition-property: background-image;
}

h1, p{
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .project-card{
        width: 90vw;
        height: 45.5vw;
    }
    .filter-by-skills{
        width: 90vw;
    }
}