@import '../../../global.scss';

.pageContainer{
    display:flex;
}

.right{
    position:fixed;
    width: 50%;
    transition: left 1s;
}

.left{
    transition: width 1s;
}

figure img{
    width: auto;
    max-height: 365px;
    max-width: 800px;
    border: solid 1px #4AF626;
}

figure{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


ul{
    list-style: none;
    padding: 0;
}

ul.includeBullets li:before{
    content: "> ";
}

.selectedProjectImage{
    height: 300px;
    width: auto;

}
.imgControls {
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        border: none;
        background: none;
        color: #4AF626;
        font-size: 24pt;
        cursor: pointer;
    }
}
.card{
    border: solid 1px $accent;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 0 8%;
    margin: auto 5%;
    margin-top: 1em;
  }
.selector{
    width: 16px;
    height: 16px;
    border-radius:16px;
    margin: 0 8px;
    cursor: pointer;
}

.deselectButton{
    position:absolute;
    top: 35px;
    right:75px;

    background-color: #25252B;
    color: $textPrimary;
    border: none;
}


.deselectButton:hover{
    color: $textSecondary;
}

.project-cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;

    width: 90%;
    margin: 0 auto;
}

.project-card{
    // width: 300px;
    // flex-basis: 20%;
    // height: 150px;

    cursor: pointer;

    padding: 0;
    margin: 32px;
    // gap: 32px;

    background-color: #01111d;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: width 1s;
    transition:  height 1s;
}

.project-card.selected{
    border: solid 2px $textPrimary;
}
.project-card.selected .project-card-title-container{
    background-color: rgba(0,0,0,0.8);
}
.project-card.selected .project-card-title{
    visibility: visible;
}

.project-card button{
    width: 100%;
    height: 100%;
    background: none;
    border: none;


}

.project-card:hover .project-card-title-container{
    background-color: rgba(0,0,0,0.8);
}

.project-card:hover .project-card-title{
    visibility: visible;
}

.project-card-title-container{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-card-title{
    visibility: hidden;
    margin: 0;
}


.filter-by-skills{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    width: 40vw;
    margin: 0 auto;
}

.filter-by-skills button{
    background-color: #25252B;
    color: $textPrimary;
    border: none;
  padding: 2px  8px;
    margin: 8px 16px;

    cursor: pointer;
}

.filter-by-skills button:hover{
    color: $textSecondary;
}

.filter-by-skills button:disabled{
    color: $textSecondary;
    background-color: $accent;
    cursor: default;
}

h1, .center{
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .project-card{
        width: 90vw;
        height: 45.5vw;
    }
    .filter-by-skills{
        width: 90vw;
    }
}
