.project-cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;

    width: 90vw;

    margin-left: 5vw;
}

.project-card{
    width: 300px;
    height: 150px;

    cursor: pointer;

    padding: 0;
    margin-bottom: 2vh;

    background-color: #25252B;

    border-color: black;
    border-style: solid;
    border-width: 1px;

    background-size: cover;

    transition: 0.3s;
}

.filter-by-skills{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    width: 40vw;

    margin-left: 30vw;
    margin-bottom:2vh;
}

.filter-by-skills button{
    background-color: #25252B;
    color: white;
    border: none;

    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 0.5vw;

    cursor: pointer;
}

.filter-by-skills button:hover{
    color: #4AF626;
}

.filter-by-skills button:disabled{
    color: black;
    background-color: #4AF626;
    cursor: default;
}

.project-card-title{
    display: none;
    margin: 0;
}

.project-card:hover .project-card-title{
    display: inline;
    transition: 0.3s;
}

.project-card:hover{
    background-image: none !important;
    transition: 0.3s;
    transition-property: background-image;
}

h1{
    text-align: center;
    margin-bottom: 2vh;
}

@media only screen and (max-width: 800px) {
    .project-card{
        width: 90vw;
        height: auto;
    }
    .project-card:hover .project-card-title{
        display: none;
    }
    .filter-by-skills{
        width: 90vw;
        margin: 2vh auto;
    }
}