<app-header></app-header>

<p>Take a look at some of my work 👨‍💻</p>

<div class="filter-by-skills">
    <button (click)="selectFilter('all')">All</button>
    <button *ngFor="let skill of skillsToFilterBy" (click)="selectFilter(skill.name)">{{skill.name}}</button>
</div>

<div class="project-cards-container">
    <button class="project-card" *ngFor="let project of projects; let i = index" (click)="selectProject(project.index)" [style.backgroundImage]="'url('+project.visualScreenshots[0]+')'">
        <h1 class="project-card-title">{{project.name}}</h1>
    </button>
</div>