@import 'global.scss';

@font-face {
    font-family: 'Backup'; // Lucida Console stored in assets
    src: url(./assets/backup.ttf);
}

/* You can add global styles to this file, and also import other style files */
body{
    background-color: $backgroundColour;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", 'Backup', monospace;
    margin: 0;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,a{
    color: $textPrimary;
}

a{
    text-decoration: none;
}

p, i, li{
    color: $textSecondary;
}

i:hover{
    color: $textPrimary;
}
a:hover {
    color:$textSecondary;
}

.hr{
    width: 95%;
    border-top: solid 1px $accent;
    height: 1px;
    margin: 8px auto;
}
button{
    cursor: pointer;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", 'Backup', monospace;
}

.card{
  border: solid 1px $accent;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  border-radius: 4px;
}
