/* You can add global styles to this file, and also import other style files */
body{
    background-color: #1E1E1E;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console","sans serif";
    margin: 0px;
    overflow-x: hidden;
}

h1, a{
    color:#4AF626;
    margin-right: 1vw;
}

h1{
    margin-bottom: 0;
    margin-top: 0;
}

p, i, li{
    color: white;
}

i:hover{
    color: #4AF626;
}
a:hover {
    color:white;
}